Gray-Space/src/flows/Create_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Stage_1</name>
        <label>Assign Stage 1</label>
        <locationX>50</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Details_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Case_Title</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_2</name>
        <label>Assign Stage 2</label>
        <locationX>634</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Details_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Details_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>426</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Contact Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_has_contact</name>
        <label>User has contact</label>
        <locationX>219</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Does_Contact_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact_not_found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_1</targetReference>
            </connector>
            <label>contact not found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Case_Origin_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Case_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>User_First_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>778</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Case_Lookup</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>curContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Details_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Case_Type_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>432</locationX>
        <locationY>261</locationY>
        <assignRecordIdToReference>curContact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Stage_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contact_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Input.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Input.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Case_Lookup</name>
        <label>Case Lookup</label>
        <locationX>778</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Created_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Record</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>case.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>434</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name_Input</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssistantPhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Phone_Input.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Phone_Input.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Phone_Input.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>OtherPhone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Phone_Input.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Phone_Input.value</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>curContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_User_Contact</name>
        <label>get User Contact</label>
        <locationX>227</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_has_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>curContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Case_Created_Screen</name>
        <label>Case Created</label>
        <locationX>778</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_Created_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Case Created&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Created_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Case_Created_Script_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Details_Screen</name>
        <label>Get Case Details</label>
        <locationX>634</locationX>
        <locationY>672</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Case_Details_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Get Case Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Details_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Case_Details_Script_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Case_Type_Input</name>
            <choiceReferences>Case_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Subject_Input</name>
            <dataType>String</dataType>
            <fieldText>Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Details_Input</name>
            <fieldText>Case Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Case_Title</name>
        <label>Confirm Customer Info</label>
        <locationX>52</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Contact_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>Confirm_Identity_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Confirm Customer Info﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Name_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Customer_Name_Script_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>First_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Contact_Details_Screen</name>
        <label>Confirm Customer Details</label>
        <locationX>237</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Lookup</targetReference>
        </connector>
        <fields>
            <name>Confirm_Contact_Details_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(62, 62, 60);&quot;&gt;Confirm Customer Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Details_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Contact_Details_Script_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email_Input</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Email_Title_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone_Input</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>Phone_Title_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Error_Screen</name>
        <label>Create a Case</label>
        <locationX>642</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Stage_2</targetReference>
        </connector>
        <fields>
            <name>Contact_Error_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;{!Contact_Error_Title_Template}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Error_Desc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Verify the contact information or click Next to continue without associating a contact with your case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Case_Details_Stage</name>
        <isActive>true</isActive>
        <label>Get Case Details</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Contact_Details_Stage</name>
        <isActive>true</isActive>
        <label>Confirm Customer Details</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>100</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_User_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Case_Created_Script_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your case (#{!case.CaseNumber}) is created! We’ll be in touch with next steps.</text>
    </textTemplates>
    <textTemplates>
        <name>Case_Details_Script_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>What can I help you with today?</text>
    </textTemplates>
    <textTemplates>
        <name>Contact_Details_Script_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Thanks, {!First_Name_Input}!  Next, can you please provide your email address and phone number?</text>
    </textTemplates>
    <textTemplates>
        <name>Contact_Error_Title_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;Contact information is incorrect&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Customer_Name_Script_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello, this is {!User_First_Name_Formula}. Can you please provide your first and last name?</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Title_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Email Address</text>
    </textTemplates>
    <textTemplates>
        <name>Flow_Title_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Create a Case</text>
    </textTemplates>
    <textTemplates>
        <name>Phone_Title_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Phone Number</text>
    </textTemplates>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
