Gray-Space/src/flows/New_Event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>644</locationX>
        <locationY>1742</locationY>
        <actionName>Event.GH_Send_Email_About_Meeting</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Meeting</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>change_Event_Type</name>
        <label>change Event Type</label>
        <locationX>776</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>getLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GS_Meeting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Meeting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Meeting_Address</name>
        <label>Set Meeting Address</label>
        <locationX>908</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!address_input.street},  {!address_input.postalCode} {!address_input.city} {!address_input.country}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meeting_Additional_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Meeting_Address_to_org</name>
        <label>Set Meeting Address to org</label>
        <locationX>644</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Organization.Street}, {!$Organization.PostalCode} {!$Organization.City} {!$Organization.Country}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meeting_Additional_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stages</name>
        <label>Set Stages</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Meeting Date</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Place</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Additional Information</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Summary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Event_DateTime</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Address_set</name>
        <label>Is Address set</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Set_Meeting_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address Set</defaultConnectorLabel>
        <rules>
            <name>Address_not_set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>address_input.city</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>address_input.street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>address_input.city</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>address_input.street</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Meeting_Address_to_org</targetReference>
            </connector>
            <label>Address Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_info_to_client_decision</name>
        <label>Send info to client</label>
        <locationX>776</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_info_to_client_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_info_to_client</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Send info to client</label>
        </rules>
    </decisions>
    <interviewLabel>New Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meeting</name>
        <label>Create Meeting</label>
        <locationX>776</locationX>
        <locationY>1502</locationY>
        <connector>
            <targetReference>Send_info_to_client_decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateMeetingError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>End_of_the_meeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start_of_the_meeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Meeting with {!getLead.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>getLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getLead</name>
        <label>getLead</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Meeting</name>
        <label>Update Meeting</label>
        <locationX>776</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_Meeting</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Update_Error</targetReference>
        </faultConnector>
        <inputReference>getLead</inputReference>
    </recordUpdates>
    <screens>
        <name>CreateMeetingError</name>
        <label>Error</label>
        <locationX>978</locationX>
        <locationY>1503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>createEventErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Event_DateTime</name>
        <label>Meeting Date</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GS_Meeting_address</targetReference>
        </connector>
        <fields>
            <name>stage_5</name>
            <extensionName>c:GS_FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Meeting Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Start_of_the_meeting</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Start_of_the_meeting</elementReference>
            </defaultValue>
            <fieldText>{!$Label.GS_Start_of_the_meeting}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.GS_Meeting_Date_in_past}&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_of_the_meeting} &gt;= {!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_of_the_meeting</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>End_of_the_meeting</elementReference>
            </defaultValue>
            <fieldText>{!$Label.GS_End_of_the_meeting}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.GS_Meeting_end_date_before_start_date}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!End_of_the_meeting} - {!Start_of_the_meeting} &lt; 14,
{!Start_of_the_meeting} &lt; {!End_of_the_meeting}
)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GS_Meeting_address</name>
        <label>Meeting address</label>
        <locationX>777</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Address_set</targetReference>
        </connector>
        <fields>
            <name>Step_10</name>
            <extensionName>c:GS_FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Place</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>address_input</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.GS_Blank_to_Organization_address}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Update_Error</name>
        <label>Lead Update Error</label>
        <locationX>983</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Lead_Update_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Meeting_Additional_information</name>
        <label>Meeting Additional information</label>
        <locationX>776</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <fields>
            <name>stage_15</name>
            <extensionName>c:GS_FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Additional Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Additional_information</name>
            <defaultValue>
                <stringValue>{!Additional_information}</stringValue>
            </defaultValue>
            <fieldText>{!$Label.GS_Additional_information}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Label.CH_Notes_for_you_about_meeting}&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>776</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;{!$Label.GS_Meeting_scheduled}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>776</locationX>
        <locationY>1142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>change_Event_Type</targetReference>
        </connector>
        <fields>
            <name>step_20</name>
            <extensionName>c:GS_FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>summary_text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.GS_Meeting_with}&lt;/b&gt; {!getLead.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!$Label.GS_From_Company} &lt;/b&gt;{!getLead.Company}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!$Label.GS_Start_Date}&lt;/b&gt; {!Start_of_the_meeting}&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!$Label.GS_End_Date}&lt;/b&gt; {!End_of_the_meeting}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!$Label.GS_Localization} &lt;/b&gt;{!Location}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>additional_informations_summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!$Label.GS_Additional_information}:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Additional_information}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Additional_information</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Additional_information</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Send_info_to_client</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.GS_Send_info_to_client}</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!$Label.GS_Send_info_to_client_help}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getLead.Email</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Additional_Information_Stage</name>
        <isActive>false</isActive>
        <label>Additional Information</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Meeting_Date</name>
        <isActive>true</isActive>
        <label>Meeting Date</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Place</name>
        <isActive>false</isActive>
        <label>Place</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Summary_Stage</name>
        <isActive>false</isActive>
        <label>Summary</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
